/* Theme Button Css Start */
.chkbx input[type="checkbox"] {
  display: none;
}
.chkbx {
  position: relative;
  cursor: pointer;
}
.chkbx .x {
  display: block;
  width: 50px;
  height: 25px;
  border: 2px solid #d3d3be;
  border-radius: 60px;
  transition: 0.5s;
}
.chkbx .x:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 4px;
  left: 5px;
  box-sizing: border-box;
  background: #d3d3be;
  border: 2px solid #d3d3be;
  border-radius: 40px;
  transition: 0.5s;
}
.chkbx :checked ~ .x:before {
  background: #161615;
  border-color: #fe7f2d;
  transform: translatex(22px);
}
.chkbx :checked ~ .x {
  border-color: #fe7f2d;
}
/* Theme Button Css End */

/* Pagination Css Start */
.pagination .btn {
  padding: 0px;
  margin: 5px 5px;
}
.page-link {
  padding: 16px 22px;
  border-radius: 8px;
}

/* Pagination Css End */
